body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chatWindow {
    height: 100px;
}

.login {
    color: green;
}

.logout {
    color: red;
}

#messages{
    padding: 10px;
}

#messages ul{
    margin: 0;
    padding: 0;
}

#messages li{
    list-style: none;
    padding: 10px
}

#messages .success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border-radius: 4px;
    text-align: center;
}

#messages .success_msg{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border-radius: 4px;
    text-align: center;
}

#messages .error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: 4px;
    text-align: center;
}
