extends layout

block content
  - var tempItem;  

  .container
    .jumbotron
      h1= title

    .row
      .span12
        .hero-unit
          h2 Which company are you interested in?
          p To add a stock, use the search box below.
    .row.content
      .span12
        #warningMsg.alert.alert-warning(style='display: none;')
        #successMsg.alert.alert-success(style='display: none;')
        h3.page-header Look up
        form.well.form-inline(method='post', action='/addStock', id='stockForm')
          label Enter the company name or stock exchange code here:
          |
          input#symbolsearch.input-(type='text', placeholder='Ex: DIS')
          |  
          span.help-inline.hide
          span#lblInfo.help-inline.hide.label.label-info
          input(type='hidden', id='stockInput', name='stockInput')
        input.btn.btn-primary(type='submit', name = 'submit', id = 'submitBtn', style='display: none;')
        div(align='center')
          button#addStockBtn.btn.btn-success(type='button', name='addStockBtn', onclick='addStock()') Add Stock
  script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
  script(type='text/javascript', src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js')
  script(type='text/javascript').
    $(function() {
    $("#symbolsearch")
    .focus()
    .autocomplete({
    source: function(request,response) {
    $.ajax({
    beforeSend: function(){
    $("span.help-inline").show();
    $("span.label-info").empty().hide();
    },
    url: "http://dev.markitondemand.com/api/v2/Lookup/jsonp",
    dataType: "jsonp",
    data: {
    input: request.term
    },
    success: function(data) {
    response( $.map(data, function(item) {
    return {
    label: item.Name + " (" +item.Symbol+ ")",
    value: item.Symbol
    }
    }));
    $("span.help-inline").hide();
    }
    });
    },
    minLength: 0,
    select: function( event, ui ) {
    //console.log(ui.item);
    $("span.label-info").html("You selected " + ui.item.label).fadeIn("fast");
    tempItem = ui.item; 
    },
    open: function() {
    },
    close: function() {
    }
    })
    ;
    });

  script.
    function addStock()
    {
      var warningMsg = document.getElementById("warningMsg");
      var successMsg = document.getElementById("successMsg");

      //error checking
      if (typeof tempItem == 'undefined' || tempItem == null )
      {
        warningMsg.style.display = 'block';
        successMsg.style.display = 'none';
        warningMsg.innerHTML = "<strong>Please select a stock using the search bar.</strong>";
        return;
      }

      document.getElementById("stockInput").value = JSON.stringify(tempItem);
      tempItem = null;

      document.getElementById("stockForm").submit();

      //clear stock textbox
      document.getElementById("symbolsearch").value = "";     
      warningMsg.style.display = 'none';
      document.getElementById("lblInfo").style.display = "none";
      successMsg.style.display = 'block';
      successMsg.innerHTML = "<strong>Successfully added stock </strong>";
      return;
    }
